*
{
    margin:0px;
    padding:0px;
}

html,body
{
font-family: Verdana, 'Trebuchet MS', sans-serif;
font-size:12px;
line-height:1.3em;
}

p
{
    margin: 5px;
}

h1
{
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 20px;
}

h2
{
    background-color: #c60;
    color: white;
    padding: 5px;
    font-size: 18px;
}

h3
{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    padding-left: 0px;
    color: orange;
}
h4
{
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
    border-bottom: thin dotted #333;
}

a
{
    color: black;
    padding: 2px;
}

a:hover
{
    background-color: orange;
    color: white;
    text-decoration: none;
}

.container {
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.container .form
{
    background:#ece9d8 url(../images/bg.gif) repeat-x;
    padding: 10px;
}

input[type="submit"]
{
    min-width: 100px;
}

textarea {
    width: 500px;
    height: 200px;
}

input[type="text"]
{
    width: 300px;
}

ul.errors
{
    color: red;
    margin-left:40px;
}

label
{
    font-weight: bold;
}

dt
{
    padding-top: 5px;
    padding-bottom: 5px;
}

p.errors
{
    color: white;
    background-color: #f33;
    padding: 10px;
    padding-left: 25px;
    background-image: url('../images/exclamation.png');
    background-repeat: no-repeat;
    background-position: 5px 10px;
}
p.warning
{
    background-image: url('../images/error.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 20px;
}
.bread
{
    margin-bottom: 5px; 
}
.footer
{
    padding:10px;
}
.indent
{
    margin-left: 20px;
}
.hint
{
    margin-left: 20px;
}

.sidenote
{
    width: 300px;
    float: right;
}

blockquote
{
padding: 1em;
margin-bottom: 1.5em;
background-color: #FFFCD8;
background-image: url('../images/a5.gif');
background-repeat: no-repeat;
background-position: top left;
border: dotted 1px #DFD999;
}

blockquote p
{
margin-bottom: 0em;
}

textarea
{
    width: 400px;
}
