*
{
    margin:0px;
    padding:0px;
}

img
{
    border: 0px;
}

html,body
{
font-family: Verdana, 'Trebuchet MS', sans-serif;
font-size:12px;
line-height:1.3em;
}

p
{
    margin: 5px;
}


#header
{
padding-left: 105px;
background-image: url('../images/orange_back.png');
height:60px;
font-family: 'Trebuchet MS';
}
#header h1
{
color: white;
padding-top: 8px;
padding-bottom: 8px;
font-size: 14pt;
}
#header h2
{
color: #EfE8C2;
font-weight: normal;
font-size: 13pt;
}
#logo
{
position: absolute;
top: 2px;
left: 2px;
}

h3
{
    border-top: 1px solid orange;
    background-color: #fdb;
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
    color: #630;
}
h4
{
    color: #630;
    background-color: #fdb;
    font-weight: bold;
    padding :2px;
    padding-left: 5px;
    font-size: 12px;
}

h4, p.errors, p.warning, a.button
{
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}

a
{
    color: black;
    padding: 2px;
}

a:hover
{
    background-color: orange;
    color: white;
    text-decoration: none;
}

.container {
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;

/*
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
*/
}

.container .form, .menu
{
    background:#ece9d8 url(../images/bg.gif) repeat-x;
    padding: 10px;
}

.menu
{
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
}

.form
{
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-}

.form input[type=submit]
{
    min-width: 100px;
}

.form input[type=text], .form select
{
    width: 300px;
}
.form input[type=text], .form select, .form textarea
{
    padding: 3px;
}

.form textarea {
    height: 200px;
}

ul.errors
{
    color: red;
    margin-left:40px;
}

label
{
    font-weight: bold;
}

dt
{
    padding-top: 5px;
    padding-bottom: 5px;
}

p.errors
{
    margin: 0px;
    margin-bottom: 5px;
    color: white;
    background-color: #f33;
    padding: 10px;
    padding-left: 25px;
    background-image: url('../images/exclamation.png');
    background-repeat: no-repeat;
    background-position: 5px 10px;
}
p.warning
{
    background-image: url('../images/error.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 20px;
}
.bread
{
    margin-bottom: 5px; 
}
.footer
{
    padding:10px;
}
.indent
{
    margin-left: 20px;
}
.hint
{
    margin-left: 20px;
}

.sidenote
{
    width: 350px;
    float: right;
}

blockquote
{
padding: 1em;
margin-bottom: 1.5em;
background-color: #FFFCD8;
background-image: url('../images/a5.gif');
background-repeat: no-repeat;
background-position: top left;
border: solid 1px #DFD999;
}

blockquote p
{
margin-bottom: 0em;
}
blockquote .author
{
    text-align: right;
    float: right;
    color: #c60;
}
.hidden
{
    display: none;
}

td.header
{
    font-weight: bold;
    width: 150px;
}
tr.personal
{
    background-color: #ddd;
}

td
{
    vertical-align: top;
    padding-top: 3px;
    padding-bottom: 3px;
}
th
{
    text-align: left;
}


.button
{
    padding: 3px;
    cursor: pointer;
}

pre
{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 5px;
    font-size: 10pt;
}

.submenu
{
font-family:"trebuchet ms",sans-serif;
background-color: black;
padding: 6px 2.5em 4px 28px;
}
.submenu span
{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 4px;
padding-top: 3px;
}
.submenu a
{
font-size: 12px;
font-weight: bold;
color: #888;
text-decoration: none;
}
.submenu a:hover
{
color: #7e6B09;
text-decoration: underline;
background-color: black;
}
.submenu span.selected
{
    color: #7e6b09;
    background-color: white;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
}
.submenu span.selected a:hover
{
color: inherit;
background-color: inherit;
}

ul.subsection_tabs {
    list-style:none;
    margin:0 0 0 0;
    padding:0;
    clear:both;
    height:23px;
    clear:both;
}

ul.subsection_tabs li.tab {
    float:left;
    margin-right:7px;
    text-align:center;
}

ul.subsection_tabs li.tab a {
    display:inline-block;
    font-weight: bold;
    height:20px;
    padding:3px 6px 0 6px;
    text-decoration: none;
    color: #f90;
}

ul.subsection_tabs li.tab a:hover {
    background-color:#fc9;
    color: white;
}

ul.subsection_tabs li.tab a.active {
    background-color:#f90;
    color: white;
}
.tabcontent
{
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid #f90;
}

.searchbox
{
    margin-top: 4px;
    margin-right: 5px;
    color: white;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.update_description
{
    padding-bottom: 10px; 
    margin-bottom: 6px;

-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
    background:#ece9d8 url(../images/bg.gif) repeat-x;
}

.update_history
{
    background-color: #ccc;
    margin-bottom: 6px;
}

.update_history .header
{
    padding: 3px;
}

.update_description .header
{
    padding: 3px;
    background-color: orange;
}

.orange-round
{
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
padding: 10px;
background-color: #fdb;
}

table
{
border-collapse: collapse;
}

table.ticket_detail
{
padding: 5px;
width: 100%;
}
table.ticket_detail td
{
padding: 5px;
}

table.tab
{
width:100%;
background-color: #70571a; 
}

table.tab td.tab
{
background-color: white;
border-left: 5px solid #70571a;
text-align: center;
}

.ticket_update
{
    text-align: right;
    padding: 2px; 
}

a.nodeco
{
    text-decoration: none;
}

.ticketid
{
    background-repeat: no-repeat;
    padding-left: 28px;
    min-height: 20px;
}

.ticketid_open { background-image: url('../images/tag_red.png'); }
.ticketid_engineering { background-image: url('../images/tag_green.png'); }
.ticketid_customer { background-image: url('../images/tag_yellow.png'); }
.ticketid_supportagency { background-image: url('../images/tag_blue.png'); }
.ticketid_resolved { background-image: url('../images/tag_purple.png'); }
.ticketid_closed { background-image: url('../images/tag_black.png'); }

.ticketid_vendor { background-image: url('../images/tag_orange.png'); }
.ticketid_networkadministration { background-image: url('../images/tag_lime.png'); }

tr[onclick]
{
cursor: pointer;
}

tr[onclick]:hover
{
background-color: orange;
}

a.button
{
text-decoration: none;
padding-left: 5px;
padding-right: 10px;
}

a.button img
{
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.list
{
    background-color: #eee;
    margin-left: 16px;
    width: 90%;
}
.scrolled_list
{
    height: 130px;
    overflow: auto;
}
