* {
    margin:0px;
    padding:0px;
}

img {
    border: 0px;
}

body {
font-family: Verdana;
color: black;
font-size:11pt;
min-width: 1100px;
}

p {
margin-bottom: 10px;
}

#header {
background: #252525 url('../images/bg-menu-main.jpg') no-repeat 0% 0%;
height: 60px;
}
#header .title{
padding-left: 110px;
height: 60px;
}

#header h1 a {
color: #fff;
text-decoration: none;
}

#header h1 {
padding-top: 7px;
font-size: 15pt;
font-family: 'Trebuchet MS';
}

#header h2 {
color: #EfE8C2;
font-size: 13pt;
font-family: 'Trebuchet MS';
}

#logo {
position: absolute;
top: 2px;
left: 5px;
}

.round {
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
}

h3 {
background-color: #555;
background: -moz-linear-gradient(center top , #777, #444) repeat scroll 0 0 #555;

color:white;
font-family:"Arial";
font-size:13px;
margin-bottom:3px;
margin-top:3px;
padding:4px 4px 4px 8px;

-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
}

h4 {
color: #666;
border-bottom: 1px dotted #555;
font-size: 11px;
font-weight: bold;
padding :2px;
padding-left: 0px;
margin-bottom: 5px;
margin-right: 5px;

}

h5 {
font-size: 10px;
font-family: Verdana;
color: #444;
margin-bottom: 3px;
}

p.errors, p.warning, a.button, ul.errors
{
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}

a, a:hover {
color: #961;
}
span[onmouseover] {
cursor: pointer;
}

#content {
padding: 10px 20px 20px 20px;
line-height: 1.6em;
background: url('../images/a4.gif') repeat-x top left;
font-size: 11px;
font-family: verdana, "trebuchet ms", sans-serif;
}

input[type=text], select
{
    width: 250px;
    margin-bottom: 3px;
}
input[type=text], select, textarea
{
    padding: 3px;
}
select {
    width: 258px;
}

textarea {
    height: 250px;
}
span.header {
    display: inline-block;
    width: 150px;
}

dt
{
    padding-top: 5px;
}

p.errors, ul.errors
{
    margin: 0px;
    margin-bottom: 5px;
    color: white;
    padding: 5px;
    background: url("../images/error_back.png") repeat scroll 50% 50% #B81900;
}
p.loading
{
    margin: 0px;
    padding-left: 20px;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
}

ul.errors {
padding-top: 5px;
padding-bottom: 5px;
list-style: none;
background-position: 5px 5px;
}

p.warning
{
    background-image: url('../images/error.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 20px;
}
.bread
{
    margin-bottom: 5px; 
}
#footer
{
background: url('../images/a4.gif') repeat-x top left;
border-top: solid 1px #D0D4BB;
padding: 10px 40px;
font-size: 12px;
font-family: 'Trebuchet MS';
}
.indent
{
    margin-left: 20px;
}
.bitindent
{
    margin-left: 5px;
}
.hint
{
    margin-left: 20px;
}

.sidenote
{
    padding-right: 10px;
    float: right;
}

blockquote
{
padding: 1em;
background-color: #FFFCD8;
background-image: url('../images/a5.gif');
background-repeat: no-repeat;
background-position: top left;
border: solid 1px #DFD999;
}

blockquote p
{
margin-bottom: 0em;
}
blockquote .author
{
    text-align: right;
    float: right;
    color: #c60;
}
.hidden
{
    display: none;
}

td.header, span.header
{
    font-weight: bold;
    color: #555;
    width: 150px;
    padding-left: 3px;
}
tr.personal
{
    background-color: #ddd;
}

td, th
{
    vertical-align: top;
    padding-top: 3px;
    padding-bottom: 3px;
}
th
{
    text-align: left;
}

.button
{
    padding: 3px;
    cursor: pointer;
}

input[type=submit] {
height: 27px;
padding: 0px 5px 0px 5px;
}

pre
{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 5px;
    font-size: 10pt;
    padding-top: 0px;
}

div.meta_information {
background-color: #f0f0fc;
color: #333;
margin-bottom: 3px;
}

.submenu
{
background: #000 url(../images/topnav_bg.gif);
font-family: 'Trebuchet MS';
padding: 3px 15px;
height: 23px;
line-height: 100%;
}
.submenu div {
display: inline-block;
padding: 5px;
margin: 0px;
font-size: 12px;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
color: #888;
}
.submenu a {
font-weight: bold;
color: inherit;
text-decoration: none;
}
.submenu div.selected
{
background-color: #333;
color: #fff;
}
.submenu div:hover {
background-color: #555;
background: -moz-linear-gradient(center top , #777, #444) repeat scroll 0 0 #555;
color: white;
}

#header #links {
position:absolute;
right: 10px;
top: 39px;
font-size: 12px;
font-family: 'Trebuchet MS', sans-serif;
color: #555;
}
#header #links a {
color: #999;
text-decoration: none;
}
#header #links a:hover {
text-decoration: underline;
}
#header #links .active {
font-weight: bold;
color: #fff;
}

.tabcontent
{
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid #f90;
}

.searchbox
{
    margin-top: 4px;
    margin-right: 5px;
    color: white;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.update_description
{
    padding-bottom: 10px; 
    margin-bottom: 6px;
}

.update_history
{
    background-color: #eee;
    margin-bottom: 6px;
}

.update_history .neader
{
    padding: 3px;
}

.update_description .header
{
margin-bottom:5px;
min-height:16px;
padding:2px 2px 2px 5px;
background-color: #ccc;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}

.contact_populator
{
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
padding: 10px;
background-color: #ccc;
}

table
{
border-collapse: collapse;
}

table.tab
{
width:100%;
background-color: #70571a; 
}

table.tab td.tab
{
background-color: white;
border-left: 5px solid #70571a;
text-align: center;
}

table.recordlist {
font-size:11px;
}

table.ticket_detail td {
padding-right: 6px;
}

tr.record
{
border-bottom: 1px solid #ccc;
}

.ticket_update
{
    text-align: right;
    padding: 2px; 
}

a.nodeco
{
    text-decoration: none;
}

td.flag
{
    background-repeat: no-repeat;
    padding-left: 28px;
    min-height: 20px;
    background-position: 0px 5px;
}

td.flag_red { background-image: url('../images/tag_red.png'); }
td.flag_green { background-image: url('../images/tag_green.png'); }
td.flag_yellow { background-image: url('../images/tag_yellow.png'); }
td.flag_blue { background-image: url('../images/tag_blue.png'); }
td.flag_purple { background-image: url('../images/tag_purple.png'); }
td.flag_black { background-image: url('../images/tag_black.png'); }
td.flag_orange { background-image: url('../images/tag_orange.png'); }
td.flag_lime { background-image: url('../images/tag_lime.png'); }

tr[onclick],
div[onclick]
{
cursor: pointer;
}

tr[onclick]:hover
{
background-color: #ccc;
}

#tabs .ui-helper-reset
{
    font-size: 80%;
}

span.tag
{
font-size: 80%;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
padding: 4px;
margin-right: 4px;
}

span.red
{
    background-color: red;
    color: white;
}
span.yellow
{
    background-color: yellow;
    color: black;
}


.fblist
{
border: 1px solid #ccc;
padding: 2px;
margin-bottom: 5px;
}
.fblist input.autocomplete
{
border: 0;
width: 90%;
}

.fblist div, .list div.checked, .cc {
padding: 1px;
background-color:#DDDDDD;
border:1px solid #AAAAAA;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
margin:1px;
padding-left: 3px;
}

.cc input {
background-color: white;
width: 220px;
}
.ccarea {
width: 257px;
}

.list div {
padding: 1px;
border: 1px solid transparent;
margin: 1px;
padding-left: 3px;
line-height: 200%;
}

.fblist div img {
vertical-align: text-top;
cursor: pointer;
padding-right: 2px;
}

.ac_results {
font-size:11px;
}

#updates .header img.anchor_img:hover {
cursor: pointer;
}

#updates .selected .header {
background-image: url('../images/pointer.png');
background-repeat: no-repeat;
background-position: 4px 3px;
background-color: #69f;
padding-left: 23px;
color: white;
}

#updates .selected {
background: #b2ccff url('../images/selected_back.gif') repeat-x;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}
.form .description {
color: gray;
padding-left: 10px;
background-image: url('../images/dot.png');
background-repeat: no-repeat;
background-position: 8px 8px;
padding-left: 20px;
}

.form label.required {
background-image: url('../images/required_field.png');
background-repeat: no-repeat;
padding-left: 15px;
}

.message {
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
padding: 10px;
margin-bottom: 10px;
color: white;
background-color: #69f;
}

.message a {
color: white;
}
.message p {
margin-bottom: 0px;
}

#banner
{
background-image: url('../images/error_back.png');
background-position: top left;
color: white;
margin-bottom: 5px;
padding: 5px;
}
table.metadata {
width: 100%;
}
table.metadata tr {
border-bottom: 1px solid #eee;
margin-bottom: 0px;
}
table.metadata td {
padding-left: 3px;
padding-right: 3px;
}
table.metadata th {
color: #666;
background-color: #ddd;
padding-left: 3px;
padding-right: 3px;
}

#custom_search_area .header {
color: #2200c1;
}

div.assignee {
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #ddd;
    border: 1px solid #aaa;
    margin-bottom: 5px;
    min-height: 16px;
    padding: 2px 2px 2px 4px;
}
